

.mainContainer{
    display: flex;
    height: auto;
}
.mainWrapper{
    display: flex;
    flex-direction: column;
    width: auto;
    background-color: #283618;
    margin-top: .3rem;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ec712e;
    height: 7%;
    width: 99%;
    margin: 0 .3rem;
    font-size: 1rem;
    padding: 1rem;
    box-shadow: 5px 5px 5px 0px black;
}

.bellWrapper{
    width: 2rem;
    color: white;
}

.bellanimation {
    animation: shake 500ms ease-in-out infinite;
}

@keyframes shake {
    0%, 100% {
        transform: rotate(0);
    }
    25%, 75% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(10deg);
    }
}



.dataBosexWrapper{
    display: flex;
    justify-content: center;
    column-gap: 2rem;
    height: 20%;
    padding: 1rem;
    margin-top: .5rem;
}

.databoxes{
    width: 25%;
    height: 70%;
    border: 1px solid black;
    border-radius: .2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: .5rem;
    row-gap: .2rem;
    box-shadow: 5px 5px 5px 0px black;
    cursor: pointer;
}

.databoxes a{
    text-decoration: none;
    color: black;
}

.databoxes a:hover, .databoxes:hover{
    transform: scale(1.1);
    color: white;
}

.box1{
    background-color: #8ccedf
}
.box2{
    background-color: #ebbb7c;
}
.box3{
    background-color: #eaa391;
}
.box4{
    background-color: #80e5c7;
}

.middleWrapper{
    height: 40%;
    padding: 1rem;
    display: flex;
    column-gap: 2rem;
    margin-top: -40px;
    justify-content: center;
}

.middleSecondDiv{
    margin-top: 3.9rem;
}

.bottomWrapper {
    height: 35%;
    width: 97%;
    padding: 1rem;
    display: grid; 
    grid-template-columns: repeat(2, 50%); 
    gap: 4rem;
    margin-top: -20px;
}

.upComingAppt{
    margin-left: 1rem;
    width: 90%;
    overflow-y: scroll;
    height: 13rem;
}

.upComingAppt h2{
    text-align: center;
    background-color: #554e47;
}

.apptListTable {
    width: 100%;
}

.appteditordelete:hover{
    cursor: pointer;
        color: #ec712e;
}

.appointmodal{
    background-color: #200d03;
    position: absolute;
    width: 20rem;
    height: 15rem;
    z-index: 3;
    top: 33rem;
    padding-left: 2rem;
    border-radius: 1rem;
}

.appointmodal input{
    display: block;
}

.appointmodal form label{
    color: white;
}

.appModalBttsWrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 1rem;
    width: 70%;
    margin: auto;
    position: absolute;
}

.apptEditBttn{
    background-color: green;
    color: white;
    cursor: pointer;
    height: 1.5rem;
    width: 10rem;
    font-size: .7rem;
}

.apptDeleteBttn{
    margin-left: 1rem;
    background-color: red;
    color: white;
    cursor: pointer;
    height: 1.5rem;
    width: 10rem;
    font-size: .7rem;

}

.apptheader{
    color:#ec712e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close{
    color: red;
    font-size: 1rem;
    position: absolute;
    left: 17rem;
    bottom: 13rem;
    border: 1px solid black;
    cursor: pointer;
}

.messagewrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10rem;
    height: 3rem;
    font-size: 1.5rem;
}

.messagecounter a:hover{
    cursor: pointer;
    color: rgb(214, 213, 213);
}

.messagecounter{
    position: relative;
}

.messagecounter a{
    color: black;
}

.messagecounter span{
    position: absolute;
    bottom: 1.5rem;
    font-size: 1rem;
}

@media (min-width: 1130px)  {
    .mainWrapper {
        width: 100vw;
    }
}

@media (min-width: 1000px) and (max-width: 1130px) {
    .mainWrapper {
        width: 77.9vw;
    }
}

@media(max-width:1130px) {
    .upComingAppt {
        width: 80%;
        margin-left: -3rem;
    }
    @media(max-width: 1100) {
        .upComingAppt{
            margin-left: -5rem;
            width: 85%;
        }    
    }
    @media (max-width:900px) {
        .upComingAppt{
            width: 75%;
        }
        .upComingAppt table{
            font-size: .7rem;
        }
    }
    @media (max-width: 630px) {
        .upComingAppt{
            width: 70%;
            margin-left: -1rem;
        }
        .upComingAppt h2{
            font-size: 1rem;
        }
        .upComingAppt table{
            font-size: .5rem;
        }
    }
}

@media(max-width: 980px) {
    .mainWrapper {
        width: 70.6vw;
    }
    @media(max-width: 900px) {
        .mainWrapper{
            width: 100vw
        }
    }
    @media(max-width: 830px){
        .mainWrapper{
            width: 78vw;
        }
        .appointmodal{
            margin-left: -50px;
            top: 700px;
        }
        .apptDeleteBttn, .apptEditBttn{
            font-size: .5rem;
        }
        
    }
    @media (max-width: 750px) {
        .mainWrapper{
            width:77vw ;
        }
        .appointmodal{
            margin-left: -60px;
            top: 700px;
        }
        .apptDeleteBttn, .apptEditBttn{
            font-size: .5rem;
        }
        .appointmodal{
            width: 15rem;
        }
        .close{
            margin-left: -55px;
        }
    }
    @media(max-width: 670px) {
        .mainWrapper{
            width: 75vw
        }
        .appointmodal{
            margin-left: -60px;
            top: 700px;
        }
        .apptDeleteBttn, .apptEditBttn{
            font-size: .5rem;
        }
        .apptheader{
            font-size: .8rem;
        }
        .appointmodal{
            width: 10rem;
        }
        .appointmodal form  {
            font-size: .5rem;
        }
        .appointmodal form input{
            width: 5rem;
        }
        .close{
            margin-left: -150px;
        }
    }

    @media (max-width: 630px) {
        .mainWrapper{
            width: 73vw;
        }
    }

    @media (min-width:500px) and (max-width: 620px) {
        .mainWrapper{
            width: 70vw;
        }
    }
    @media(max-width: 500px) {
        .mainWrapper{
            margin-left: -11rem;
            width: 99.9vw;
            padding: 1rem;
        }
    }
}




@media(max-width: 1100px) {
    .bottomWrapper{
        margin-right: 20rem;
    }
    
    @media(max-width: 980px){
        .dataBosexWrapper{
            width: 100vh;
        }
        .databoxes{
            width: 15%;
            font-size: .7rem;
        }
    }

    @media (min-width: 750px) and (max-width: 920px) {
        .dataBosexWrapper{
            width: 70vw;
        }
        .databoxes{
            width: 15%;
            font-size: .7rem;
        }
    }

    @media (min-width: 650px) and (max-width: 749px) {
        .dataBosexWrapper{
            width: 70vw;
        }
        .databoxes{
            width: 15%;
            font-size: .5rem;
        }

        .middleWrapper{
            width: 70vw;
        }
    }

    @media (max-width:650px){
        .dataBosexWrapper{
            width: 70vw;
        }
        .databoxes{
            width: 15%;
            font-size: .3rem;
        }

        .middleWrapper{
            width: 70vw;
        }
    }
}


