.header {
    background-image: url(../assets/contactus.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 10rem;
    width: 100%;
    opacity: .2;
}

.headerWrapper{
    color: black;
    margin-top: -7rem;
    z-index: 99;
    width: 20rem;
    height: auto;
    margin-left: 2rem;
    text-align: center;
}

.gridContainer{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 20% 70% 10%;
    height: auto;
    margin-top: 7rem;
    padding: 2rem;
    gap: 1.5rem;
}

.girdItemOne{
    padding: 1rem;
}
.girdItemOne h2{
    margin-bottom: 1rem;
    color: #ec712e;
}

.girdItemOne p{
    margin: .5rem;
}

.girdItemTwo{
    grid-row: span 2;
}
.girdItemTwo h2{
    color: #ec712e;
    padding-top: 1rem;
}

.businessHoursWrapper{
    display: flex;
    column-gap: 1rem;
}

.messageContainer input{
    width: 15rem;
    height: 2rem;
}

.messageContainer form button{
    background-color: #ec712e;
    width: 7rem;
    height: 2rem;
    border: none;
    margin-left: 6rem;
    transition: transform 0.3s ease;
}

.messageContainer form button:hover{
    transform: scale(1.1);
    color: white;
}