.mainContainer{
    padding: 0 3rem;
    margin-bottom: 3rem;
}

.headerContainer{
    background-color: #ec712e;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: 2rem;
}

.vehicleYearMakeAndModalWrapper{
    display: flex;
    column-gap: 1rem;
}

.discripImageAndCalContainer {
    display: grid;
    grid-template-columns: 20% 55% 20%;
    margin-top: 1rem;
    margin-bottom: 5rem;
    justify-content: space-between;
}

.dispriptionWrapper{
    border: 1px solid #ec712e;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    row-gap: .4rem;
    padding: .3rem;
}

.dispriptionWrapper p{
    border-bottom: 1px dotted #ec712e;
}

.dispriptionWrapper span{
    font-weight: bold;
    font-size: 1.1rem;
}

.calWrapper{
    border: 1px solid #ec712e;
    padding: .3rem;
}

.calWrapper button{
    background-color: #ec712e;
    cursor: pointer;
}

.calWrapper button:hover{
    color: white;
}

.inputWrapper{
    display: flex;
    align-items: center;
}

.inputWrapper input{
    width: 90%;
    height: 1.5rem;
}

.inputWrapper label{
    background-color: #ec712e;
    height: 1.5rem;
    width: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonAndEquipContainer{
    margin-top: 1rem;
    height: 20rem;
}

.buttonWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    background-color: rgb(211, 209, 209);
    height: 25%;
}

.buttonWrapper button{
    width: 20%;
    height: 50%;
    background-color: #ec712e;
    cursor: pointer;
    border: none;
    box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 1);
    transition: transform 0.3s ease;
}

.buttonWrapper button:hover{
    transform: scale(1.1);
    color: white;
}

.buttonWrapper a{
    width: 20%;
    height: 50%;
    background-color: #ec712e;
    cursor: pointer;
    border: none;
    box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 1);
    transition: transform 0.3s ease;
    text-align: center;
}

.buttonWrapper a button{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.equipAndSimilarContainer{
    display: grid;
    grid-template-columns: 75% 25%;
    height: auto;
    margin-bottom: 3rem;
    
}
.equipmentListWrapper{
    margin-top: 1rem;
}

.equipmentListWrapper h2{
    padding: .5rem;
    color: #ec712e;
}

.featuresList{
    border-top: 1px dotted #ec712e;

}

.featuresList li{
    width: max-content;
    display: inline-block;
    margin: 1rem;
    font-size: 1.2rem;
}

.similarVehicleWrapper{
    background-color: rgb(241, 239, 239);
}

.similarVehicleWrapper h3{
    margin: 1rem;
}


